.hero__section {
    margin-bottom: 10rem;
    h1 {
        line-height: 5rem;
        margin-top: 2rem;
        font-size: 4rem;
        font-weight: bolder;
    }
    p {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .counter__container {
        display: flex;
        align-self: center;
        margin-left: 35%;
        .box {
            background-color: white;
            height: 5.2rem;
            width: 5.5rem;
            margin: 1rem;
            color: black;
            border-radius: 4px;
            padding-top: 1rem;
            font-size: 1.6rem;
            font-weight: bolder;
            justify-content: center;
            p {
                background-color: none;
                font-weight: normal;
                font-size: 1rem;
            }
        }
    }
    form {
        display: flex;
        justify-content: space-between;
        margin-left: 39%;
        margin-top: 1rem;
        width: 5rem;
        gap: 1rem;
        input {
            color: white;
            background: none;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid var(--icon-color);
            &:focus {
                outline: none;
            }
        }
    }
    .waitlist__container {
        margin-top: 1.8rem;
        input {
            height: 2.8rem;
            border: none;
            width: 23rem;
            border-radius: 16px;
            &::placeholder {
                padding-left: 1rem;
            }
        }
        button {
            background-color: var(--button-color);
            padding: .7rem;
            width: 10rem;
            height: 2.9rem;
            margin-left: -2.5rem;
            border: none;
            border-radius: 18px;
            color: white;
        }
    }
}