.recent__article {
    height: auto;
    width: 20rem;
    box-shadow: 20px;
    background-color: red;
    padding: 1.3rem;
    margin-bottom: .5rem;
    margin-top: 2rem;
    p {
        font-size: .7rem;
        color: gray;
        text-align: left;
    }
    h1 {
        font-size: 1rem;
        text-align: left;
    }
}