.footer {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    // background: rgba(255, 255, 255, 0.43);
    margin: auto;
    width: 65rem;
    height: 30rem;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    border: 1px solid white;
    border-bottom: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    .icon__list {
        margin-top: -12rem;
        display: flex;
        gap: 2rem;
        font-size: 2rem;
        color: var(--icon-color);
        .icon {
            &:hover {
                color: white;
            }
        }
    }
    .terms {
        display: flex;
        gap: 3rem;
        color: var(--icon-color);
        margin-bottom: -1rem;
    }
    p {
        margin-top: 1.3rem;
        color: var(--icon-color);
    }
}